* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:
    url("./Imagens/android-black-gold.png");
  font-family: arial;
  background-size: auto 100vh;
  height: 100vh;
}

header {
  height: 38vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bo {
  color: white;
}

.menu {
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  background: #879DB4;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 7px 20px;

}

a {
  color: white;
  text-decoration: none;
}

a :hover {
  text-decoration: underline;
}

.AB {
  background: #879DB4;
  color: #CAFFF2;
  text-align: center;
}

.BC {
  background: white;
  color: black;
  font-style: italic;
  text-align: center;
}

.CD {
  color: white;
}

.bro {
  height: 130px;
  width: 100px;
}

.lou {
  height: 120px;
  width: 125px;
}

.job {
  display: flex;
  justify-content: space-around;
  background-image: url("./Imagens/CYMERA_20180630_133640.jpg")
}


h1 {
  height: 10vh;

}

h2 {
  color: white;
  width: 95vw;
}
  